@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f5f5f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: "Host Grotesk", sans-serif;
  font-weight: bold;
  color: #222;
}

p,
span,
a,
button {
  font-family: "Albert Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

header {
  margin-top: 40px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date-box {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.ps {
  width: auto;
  height: auto;
  padding: 5px 10px;
  border-radius: 32px;
  background: #4cb782;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  position: relative;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  text-align: left !important;
}

.widget1 {
  position: relative;
  width: calc(100% - 80px);
  height: auto;
  border-radius: 32px;
  background: #d7fbe9;
  padding: 40px;
  display: flex;
}

.title-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  & {
    h2 {
      color: #398b62;
      margin-bottom: 40px;
    }
  }
}




.profile {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.skills {
  position: relative;
  width: calc(100% - 80px);
  height: auto;
  border-radius: 32px;
  background: #D7EEFB;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;

  & b {
    color: #3A6F8B !important;
  }
}

.pet {
  position: relative;
  width: calc(100% - 80px);
  height: 300px;
  border-radius: 32px;
  background-image: url(/media/pet.jpg);
  background-size: cover;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  & h3,
  span,
  p {
    color: #fff !important;
    z-index: 1;
  }

  overflow: hidden;
}

.londres {
  position: relative;
  width: calc(100% - 80px);
  height: 250px;
  border-radius: 32px;
  background-image: url(/media/londres.jpg);
  background-position: bottom;
  background-size: cover;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  & h1,
  span,
  p {
    color: #fff !important;
    z-index: 1;
  }

  overflow: hidden;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background: #0000001b;
  z-index: 0;
}

.londres1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/media/londres1.png);
  background-position: bottom;
  background-size: cover;
  right: 0;
  top: 0;
  z-index: 100;
}

.pin {
  position: absolute;
  right: 40px;
  top: 40px;
  font-size: 25px !important;
  transform: rotate(35deg);
}

.skills-box {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
  height: auto;
  border-left: 1px solid #222;

  & b {
    margin-left: 10px;
  }
}

.notes {
  position: relative;
  width: calc(100% - 80px);
  height: auto;
  border-radius: 32px;
  background: #FBF7D7;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.notes-box {
  width: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #ffff0037;
  position: relative;

  & h1 {
    color: #2c2509;
  }
}

.line1 {
  width: 1px;
  top: 0;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #f0d001;
}

.line2 {
  width: 1px;
  bottom: 0;
  height: 100%;
  position: absolute;
  right: 0;
  background-color: #f0d001;
}

.ball1 {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f0d001;
  border-radius: 50%;
  top: -5px;
  left: -5px;
}

.ball2 {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f0d001;
  border-radius: 50%;
  bottom: -5px;
  right: -5px;
}

.status {
  position: relative;
  width: calc(100% - 80px);
  height: auto;
  border-radius: 32px;
  background: #ffffff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-box {
  margin-top: 40px;
  padding: 10px;
  width: 100%;
  align-items: left;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 40px;
}

.line3 {
  height: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: left;
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid #00000056;

  & h4 {
    font-weight: 500 !important;
  }
}

.nuget {
  width: 5px;
  height: 20px;
  border-radius: 12px;
  background-color: #ff6600;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.album-box {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.perfil {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
  background-color: black;
  right: 40px;
  bottom: 40px;
  background-image: url(/media/minhafoto.jpg);
  background-size: cover;
  border: 3px solid #4cb782;
}

.contact-box {
  margin-top: 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;

  width: 100%;

  & h1 {
    top: -25px;

    position: absolute;
  }
}

.contact {
  position: relative;
  width: 100%;
}

.box {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.linkedin,
.insta,
.mail,
.wpp {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  padding: 20px;
  background-color: #d7fbe97c;
  backdrop-filter: blur(3px) !important;
  -webkit-backdrop-filter: blur(3px) !important;
  border-top: 1px solid #fff;

  & i {
    font-size: 20px;
    color: #222;
  }
}

.social-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.widget3 {
  position: relative;
  width: 100%;
  height: calc((50% - 80px) -20px);
  border-radius: 32px;
  display: flex;
  justify-content: center;
  background-color: #bccfd3;
  padding: 40px;
}

.widget-music {
  position: relative;
  width: calc(100% - 80px);
  height: auto;
  border-radius: 32px;
  background-image: linear-gradient(to bottom, #ff6e67, #000);
  padding: 40px;
  display: flex;
}

.title-box-music {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.album {
  width: 150px;
  height: 150px;
  background-image: url(/media/bad-album.png);
  background-size: cover;
  z-index: 2;
}

.vinyl {
  position: absolute;
  right: 0;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-image: url(/media/Vinyl.png);
  background-size: cover;
}

.disc {
  position: absolute;
  right: 0px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-image: url(/media/disc.png);
  background-size: cover;
}


.bad {
  align-items: center;
  justify-content: left;
  width: 100%;
  display: flex;
  position: relative;
}

.buttons-box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #efefef;

  & i {
    font-size: 20px;
  }

  & span > i {
    font-size: 30px;
  }
}

.timer-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  gap: 15px;
}

.temp {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #f5f5f7;
}

.bar-box {
  width: 100%;
  height: 3px;
  position: relative;
  background-color: #ffbec36f;
  border-radius: 8px;
}

.progress-bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: #c6c6c6;
  border-radius: 8px;
}

.ball {
  position: absolute;
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  right: 0;
}

.me {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  position: relative;
  gap: 10px;
  padding: 40px;
  width: calc(100% - 80px);
  background-image: url(/media/eu.png);
  height: 300px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(0);
  overflow: hidden;

  & h1 {
    color: #f5f5f7 !important;
    line-height: 1;
  }
}

.me1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/media/eu1.png);
  background-position: bottom;
  background-size: cover;
  right: 0;
  top: 0;
  z-index: 100;
}

@media (max-width: 768px) {
  .app {
    position: relative;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;

    & h1 {
      left: 0;
    }
  }
}
