@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  color-scheme: light;
  /* Font Sizes */
  --h1-size: 22px;
  --h2-size: 18px;
  --h3-size: 15px;
  --p-size: 10px;
  --small-size: 13px;

  /* Spacing & Sizing */
  --spacing-xl: 5rem; /* 80px */
  --spacing-lg: 2.5rem; /* 40px */
  --spacing-md: 1.25rem; /* 20px */
  --spacing-sm: 0.625rem; /* 10px */
  --spacing-xs: 0.3125rem; /* 5px */

  /* Shared Values */
  --radius-lg: 2rem; /* 32px */
  --radius-full: 50%;
  --border-white: 1px solid rgb(255, 255, 255);
  --common-padding: 2.5rem;

  /* Colors */
  --bg-main: #f2f2f4;
  --text-dark: #000000;
  --text-light: #ffffff;
  --accent-blue: #1f3a4d;
  --accent-purple: #4b3f72;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f5f5f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-family: "Host Grotesk", sans-serif;
  font-weight: bold;
  color: var(--text-dark);
}

p,
span,
a,
button {
  font-family: "Albert Sans", sans-serif;
}

a {
  text-decoration: none;
  color: var(--text-dark);
}

header {
  margin-top: 5%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date-box {
  width: 90%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.ps {
  width: auto;
  height: auto;
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--radius-lg);
  background: #e7fff3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 30%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-lg);
  text-align: left !important;
}

.widget1 {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
}

.perfil {
  width: 3rem;
  height: 3rem;
  border-radius: var(--radius-full);
  position: absolute;
  background-color: var(--text-dark);
  right: var(--spacing-lg);
  bottom: var(--spacing-lg);
  background-image: url(/media/minhafoto.jpg);
  background-size: cover;
  border: 3px solid #398b62;
}

.title-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  & a {
    font-size: 1rem;
    color: #398b62;
  }
}

.skills {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: var(--radius-lg);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.pet {
  position: relative;
  width: 100%;
  height: 20.75rem;
  border-radius: var(--radius-lg);
  background-image: url(/media/pet.jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  overflow: hidden;

  & h3,
  & span,
  & p {
    color: #f5f5f7 !important;
    z-index: 2;
    padding: var(--common-padding);
  }
}

.back {
  width: 100%;
  height: 20.75rem;
  background-color: #00000021;
  z-index: 1;
  border-radius: var(--radius-lg);

  position: absolute;
}

.box {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  & .bom {
    color: #2f80ed;
  }

  & .regular {
    color: rgba(47, 128, 237, 0.75);
  }

  & .ruim {
    color: rgba(47, 128, 237, 0.55);
  }
}

.londres {
  position: relative;
  width: 100%;
  height: 23.625rem;
  border-radius: var(--radius-lg);
  background-image: url(/media/londres.jpg);
  background-position: bottom;
  background-size: cover;
  padding: var(--common-padding);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  overflow: hidden;

  & h1,
  & span,
  & p {
    color: var(--text-light) !important;
    z-index: 100;
  }
}

.londres1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/media/londres1.png);
  background-position: bottom;
  background-size: cover;
  right: 0;
  top: 0;
  z-index: 100;
}

.pin {
  position: absolute;
  right: var(--spacing-lg);
  top: var(--spacing-lg);
  transform: rotate(35deg);
}

.skills-box {
  width: 80%;
  display: flex;
  gap: var(--spacing-md);

  height: auto;

  & b {
    margin-left: var(--spacing-sm);
  }
}

.notes {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: var(--radius-lg);
  display: flex;
  padding: 40px 0px 40px 0px;
  flex-direction: column;
  gap: var(--spacing-md);

  p {
    max-width: 90%;
  }
}

.notes-box {
  width: 6.25rem;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #ffe06669;
  position: relative;
  overflow: visible !important;

  & h1 {
    color: #06061f;
  }
}

.line1,
.line2 {
  width: 1px;
  height: 100%;
  position: absolute;
  background-color: #ffd54f;
}
.line1 {
  top: 0;
  left: 0;
}
.line2 {
  bottom: 0;
  right: 0;
}

.ball1,
.ball2 {
  position: absolute;
  width: var(--spacing-sm);
  height: var(--spacing-sm);
  background-color: #ffd54f;
  border-radius: var(--radius-full);
}
.ball1 {
  top: -0.3125rem;
  left: -0.3125rem;
}
.ball2 {
  bottom: -0.3125rem;
  right: -0.3125rem;
}

.status {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: var(--radius-lg);
  background:rgb(255, 255, 255);;
  padding: var(--common-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-box {
  margin-top: var(--spacing-lg);
  padding: var(--spacing-sm);
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.line3 {
  height: 1.25rem;
  display: flex;
  gap: var(--spacing-sm);
  align-items: center;
  justify-content: left;
  padding-bottom: var(--spacing-sm);
  width: 100%;
  border-bottom: 1px solid #00000056;

  & h4 {
    font-weight: 500 !important;
  }
}

.nuget {
  width: var(--spacing-xs);
  height: 1.25rem;
  border-radius: 0.75rem;
  background-color: #ff6600;
}

.album-box {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem; /* 25px */
}

.linkedin,
.insta,
.mail,
.wpp {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 14px;
  padding: var(--spacing-md);
  background-color: #00000000;
}

.verify {
  color: #ffd54f;
}

.social-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-md);
}

.widget3 {
  position: relative;
  width: 100%;
  height: calc((50% - var(--spacing-xl)) - var(--spacing-md));
  border-radius: var(--radius-lg);
  display: flex;
  justify-content: center;
  background-color: #bccfd3;
  padding: var(--common-padding);
}

.widget-music {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: var(--radius-lg);
  background-image: linear-gradient(to bottom, #ff6e67, #000);
  padding: var(--common-padding);
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.widget-music-2 {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: var(--radius-lg);
  background: #4cb782;
  padding: var(--common-padding);
  display: flex;
  gap: 30px;
  flex-direction: column;

  & a {
    font-size: 22px;
  }
}

.album {
  width: 11rem;
  height: 11rem;
  background-image: url(/media/bad-album.png);
  background-size: cover;
}

.vinyl,
.disc {
  position: absolute;
  right: 0;
  width: 10.375rem;
  height: 10.375rem;
  border-radius: var(--radius-full);
  background-size: cover;
}
.vinyl {
  background-image: url(/media/Vinyl.png);
}
.disc {
  background-image: url(/media/disc.png);
}

.buttons-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #efefef;

  & i {
    font-size: var(--spacing-md);
  }
  & span > i {
    font-size: 1.875rem;
  }
}

.timer-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  gap: 0.9375rem;
}

.temp {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #f5f5f7;
}

.bar-box {
  width: 100%;
  height: 3px;
  position: relative;
  background-color: #ffbec36f;
  border-radius: 0.5rem;
}

.progress-bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: #c6c6c6;
  border-radius: 0.5rem;
}

.ball {
  position: absolute;
  background-color: var(--text-light);
  width: var(--spacing-sm);
  height: var(--spacing-sm);
  border-radius: var(--radius-full);
  right: 0;
}

.me {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  position: relative;
  gap: var(--spacing-sm);
  padding: var(--common-padding);
  width: 100%;
  background-image: url(/media/eu.png);
  height: 24.75rem;
  border-radius: var(--radius-lg);
  display: flex;
  flex-direction: column;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  & h1 {
    color: #fefefe !important;
    line-height: 1;
  }
}

.me1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/media/eu1.png);
  background-position: bottom;
  background-size: cover;
  right: 0;
  top: 0;
  z-index: 100;
}

.rank-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.track-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 8px 0;
  border-bottom: 1px solid #0000003f;
}
.track-item:last-child {
  border-bottom: none;
}

.track-img {
  width: 60px;
  height: 60px;
  background-color: #333;

  background-size: cover;
}
.rank-num {
  color: #000000;
  font-weight: bold;
  width: 15px;
}

/* --- WIDGET LEITURA --- */
.reading-widget {
  border-radius: var(--radius-lg);
  background-color: #f8deff; /* Cor Creme/Papel */
  padding: var(--common-padding);
  display: flex;
  gap: 20px;
  align-items: center;
}
.book-cover {
  width: 150px;
  height: 170px;
  border-radius: 4px;

  background-size: cover;
  background-image: url(/media/livro.jpg);
  background-position: center;
}
.status-tag {
  max-width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #fff;
  font-size: 10px;
  padding: 10px 15px;
  border-radius: 16px;
  text-transform: uppercase;
}

.book-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.read-progress-bar {
  height: 4px;
  background: #dcdcdc;
  border-radius: 2px;
  margin-top: 8px;
  width: 100%;
}
.read-fill {
  height: 100%;
  background: black;
  border-radius: 2px;
}

.setup-widget {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: var(--radius-lg);
  background: linear-gradient(to bottom, #000000, #2e2e2e);
  padding: var(--common-padding);
  display: flex;
  gap: 30px;
  flex-direction: column;
  color: #fefefe;
}

.setup-icon {
  font-size: 35px !important;
}

.setup-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & h2 {
    font-weight: 100px !important;
  }
}

.category {
  font-weight: 100;
  color: #fff !important;
}

.model {
  font-weight: 100;
  color: #838383 !important;
  font-size: 15px;
}

.thank-you-card {
  position: relative;
  width: 100%;
  border-radius: var(--radius-lg);
  background-color: #00000000;
  color: #000000 !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
}

.thank-content p {
  font-size: 1rem;
  max-width: 400px;
  line-height: 1.6;
  opacity: 0.8;
  color: #000000 !important;
}

.footer-sign {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
}

.footer-sign p {
  font-size: 12px;
  opacity: 0.5;
  color: #000000 !important;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .app {
    width: 90%;
    gap: var(--spacing-md);
  }
}
