@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background: #f5f5f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: "Host Grotesk", sans-serif;
  font-weight: bold;
  color: #222;
}

p,
span,
a,
button {
  font-family: "Albert Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

header {
  width: 100dvw;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-box {
  width: 85%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.ps {
  width: auto;
  height: auto;
  padding: 5px 10px;
  border-radius: 32px;
  background: #4cb782;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  position: relative;
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.widget1 {
  position: relative;
  width: calc(100% - 80px);
  height: 230px;
  border-radius: 32px;
  background: #d7fbe9;
  padding: 40px;
  display: flex;
}

.skills {
  position: relative;
  width: calc(100% - 80px);
  height: auto;
  border-radius: 32px;
  background: #ffdf8d;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skills-box {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
  height: auto;
  border-left: 1px solid #222;

  & b {
    margin-left: 10px;
   
  }
}

.title-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;

  & {
    h2 {
      color: #398b62;
    }
  }
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.album-box {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.perfil {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
  background-color: black;
  right: 40px;
  bottom: 40px;
  background-image: url(/media/minhafoto.jpg);
  background-size: cover;
  border: 3px solid #4cb782;
}

.contact-box {
  position: relative;
  padding-top: 8%;
  width: 100%;

  & h1 {
    position: absolute;
    top: 0;
  }
}

.box {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.linkedin,
.insta,
.mail,
.wpp {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  padding: 20px;
  background-color: #d7fbe96a;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-top: 1px solid #fff;

  & i {
    font-size: 20px;
    color: #222;
  }
}

.social-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.widget3 {
  position: relative;
  width: 100%;
  height: calc((50% - 80px) -20px);
  border-radius: 32px;
  display: flex;
  justify-content: center;
  background-color: #bccfd3;
  padding: 40px;
}

.widget-music {
  position: relative;
  width: calc(100% - 80px);
  height: auto;
  border-radius: 32px;
  background-image: linear-gradient(to bottom, #ff6e67, #000);
  padding: 40px;
  display: flex;
}

.album {
  width: 200px;
  height: 200px;
  background-image: url(/media/bad-album.png);
  background-size: cover;
  z-index: 2;
}

.bad {
  align-items: center;
  justify-content: left;
  width: 100%;
  display: flex;
  position: relative;
}

@keyframes rodar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttons-box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #efefef;

  & i {
    font-size: 20px;
  }

  & span > i {
    font-size: 30px;
  }
}

.timer-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  gap: 5px;
}

.temp {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #f5f5f7;
}

.bar-box {
  width: 100%;
  height: 3px;
  position: relative;
  background-color: #ffbec36f;
  border-radius: 8px;
}

.progress-bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: #c6c6c6;
  border-radius: 8px;
}

.ball {
  position: absolute;
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  right: 0;
}

@media (max-width: 768px) {
  .app {
    position: relative;
    width: 90%;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
